@model WebSite.Models.LoginModel
@{
    ViewData["Title"] = "Home Page";
}

<form method="post" action="~/Home/Login">
    <p>
        <label>Login</label><br />
        <input type="text" name="Login" />
    </p>
    <p>
        <label>Password</label><br />
        <input type="password" name="Password" />
    </p>
    <p>
        <input class="btn btn-outline-success" type="submit" value="Sent" />
    </p>
</form>
